h1 {
  font-size: 3rem;
}

/* Main page */

.app {
  margin: 0;
  justify-content: center;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

/* .digital-clock {
  height: 10vh;
  background-color: green;
} */

.title {
  /* height: 90vh; */
  margin-top: 30vh;
  /* background-color: red; */
}

.me-button,
.resume-button {
  margin: 0px 20px 20px 20px;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  overflow: hidden;
  background-color: Transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}
.me-button {
  background: url(./images/me.png) center no-repeat;
  background-size: 100% 100%;
}
.resume-button {
  background: url(./images/resume.png) center no-repeat;
  background-size: 100% 100%;
}
.me-button::-moz-focus-inner,
.resume-button::-moz-focus-inner {
  border: 0;
}

/* About me page */

.about {
  background-color: #83f52c;
  justify-content: center;
  /* text-align: center; */
  border-radius: 20px;
  margin: 5% 10% 5% 10%;
  padding: 20px 50px 20px 50px;
}

.me-header {
  display: block;
  overflow: hidden;
  text-align: center;
}

.me-header::before,
.me-header::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border: 1px solid black;
}

.me-header::before {
  right: 0.5em;
  margin-left: -50%;
}

.me-header::after {
  left: 0.5em;
  margin-right: -50%;
}

.me-header img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.icon-container {
  margin-left: 5em;
  margin-right: 5em;
  background-color: #555555;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  padding: 1em;
}
.icon-container a {
  margin: 1.5em;
}
.icon-container img {
  width: 100px;
  height: 100px;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
